.formAdder {
    background-color: var(--tileBackground);
    font-family: 'Quantico', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 330px;
    padding: 5px;
    margin: 0 auto !important;
    margin-top: 13px !important
}

.formAdder:hover {
    width: 360px;
    transition: 1s ease-in-out;
}

label {
    font-size: 10px;
}

label:hover {
    font-size: 10px
}

input:focus {
    outline: none;
}

input {
    background-color: var(--tileBackground);
    font-family: 'Quantico', sans-serif;
}

.submitbutton {
    background: var(--tileBackground);
    font-family: 'Quantico', sans-serif;
    font-size: 12px;
    border: 0;
    padding: 0;
    text-transform: uppercase;
}