label {
    font-size: 10px;
}

input:focus {
    outline: none;
}

input {
    background-color: var(--tileBackground);
    font-family: 'Quantico', sans-serif;
    text-transform: uppercase;
    width: 270px
}

.formAdder {
    background-color: var(--tileBackground);
    font-family: 'Quantico', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 340px;
    padding: 5px;
    margin: 0 auto !important;
    margin-top: 10px !important
}

.submitbutton {
    background: var(--tileBackground);
    font-family: 'Quantico', sans-serif;
    font-size: 12px;
    border: 0;
    padding: 0;
    text-transform: uppercase;
}

.switchButtons {
    margin: 0 auto;
    padding: 3px;
    display: inline-block
}