.botContainer {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    font-family: "Quantico", sans-serif;
    text-transform: uppercase;
}

.botContainerOne {
    grid-column: span 1;
    grid-row: span 1;
}

.botContainerTwo {
    grid-column: span 3;
    // grid-row: 2/2;
}

.botContainerThree {
    grid-column: span 3;
    position: absolute;
    left: 275px;
    top: 713px;
    height: 78px;
    width: 535px
}

.sideBtn {
    transform: rotate(90deg);
    background-color: var(--background);
    text-transform: uppercase;
    font-family: 'Quantico', sans-serif;
    font-size: 15px;
    position: absolute;
    top: 425px
}

.ichi {
    position: absolute;
    top: 480px;
    left: 250px
}

.ni {
    position: absolute;
    top: 425px;
    left: 250px
}

// .san {
//     margin-top: 123px;
// }
// .shi {
//     margin-top: 173px;
// }
.kubot {
    // margin: 15px;
    max-height: 380px;
    max-width: 254px;
    // margin-left: 30px;
}

.namePlate {
    position: absolute;
    background-color: var(--background);
    top: 730px;
    left: 112px;
    font-size: 12px;
}

.author {
    font-size: 10px;
    // width: 100px;
}

.textBox {
    height: 300px;
    width: 535px;
    // float: right;
    // position: absolute;
    // margin-top: -350px;
    // margin-left: 400px;
    text-align: center;
    padding: 90px;
    // margin-right: 40px;
}

.text {
    margin-top: 2px
}