.sideBtn {
    transform: rotate(90deg);
    // float: left;
    color: var(--textColor);
    background-color: var(--background);
    border: 1px solid var(--textColor);
    text-transform: uppercase;
    font-family: 'Quantico', sans-serif;
    font-size: 15px;
    position: fixed;
    margin-left: 5px;
}

.ichi {
    margin-top: 23px;
}

.ni {
    margin-top: 73px;
}

.san {
    margin-top: 123px;
}

.shi {
    margin-top: 173px;
}

.kubot {
    border: 1px solid var(--textColor);
    margin: 15px;
    margin-left: 39px;
}

.namePlate {
    border: 1px solid var(--textColor);
    position: absolute;
    background-color: var(--background);
    font-family: 'Quantico', sans-serif;
    margin-top: 320px;
    margin-left: 170px;
}