.sideBtn {
    transform: rotate(90deg);
    background-color: var(--background);
    text-transform: uppercase;
    font-family: 'Quantico', sans-serif;
    font-size: 15px;
    position: fixed;
    margin-left: 5px;
}

.ichi {
    margin-top: 23px;
}

.ni {
    margin-top: 73px;
}

.san {
    margin-top: 123px;
}

.shi {
    margin-top: 173px;
}

.kubot {
    margin: 15px;
    margin-left: 39px;
}

.namePlate {
    position: absolute;
    background-color: var(--background);
    font-family: 'Quantico', sans-serif;
    margin-top: 320px;
    margin-left: 170px;
}

.author {
    font-size: 10px;
    width: 100px;
    margin-left: 150px
}

.textBox {
    height: 300px;
    width: 390px;
    float: right;
    position: absolute;
    margin-top: -350px;
    margin-left: 400px;
    font-family: 'Quantico', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
}

.text {
    margin-top: 2px
}