:root {
    --background: rgb(13, 7, 7);
    --textColor: rgb(255, 255, 255);
    --white: rgb(255, 255, 255);
    --tileBackground: rgba(255, 255, 255, 0.01);
    --tileBackgroundNOPAQUE: rgba(13, 7, 7);
    --tileBackgroundHov: rgba(13, 7, 7);
    --pink: #ff9fff;
    --turquine: #2ff5eb;
    --green: #2ff549;
    --orange: #f5c02f;
    --red: #f52f61;
    --purple: #952ff5;
    --blue: #4d9aff;
    --yellow: #e8f52f;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    font-family: "Quantico", sans-serif;
}

//animations
.hov:hover {
    background: var(--tileBackgroundHov);
}