:root {
    --background: rgb(20, 23, 28);
    --textColor: rgb(255, 255, 255);
    --white: rgb(255, 255, 255);
    --tileBackground: rgba(255, 255, 255, 0.01);
    --tileBackgroundHov: rgba(255, 255, 255, 0.03);
    --pink: #ff9fff;
    --turquine: #2ff5eb;
    --green: #2ff549;
    --orange: #f5c02f;
    --red: #f52f61;
    --purple: #952ff5;
    --blue: #2f85f5;
    --yellow: #e8f52f;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    font-family: "Quantico", sans-serif;
}

// button {
//     color: var(--turquine);
// }
//Temporary Test Classes
.clock {
    font-size: 30px
}

.borders {
    border: 1px solid var(--turquine);
    color: var(--turquine);
    margin-top: 5px;
}

.toprow {
    margin-top: 10px;
    padding: 5px;
}

//animations
.hov:hover {
    background: var(--tileBackgroundHov);
}