:root {
    --background: rgb(20, 23, 28);
    --textColor: rgb(255, 255, 255);
    --white: rgb(255, 255, 255);
    --tileBackground: rgba(255, 255, 255, 0.01);
    --tileBackgroundHov: rgba(255, 255, 255, 0.03);
    --violet: #ff9fff;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    color: var(--textColor);
    font-family: "Quantico", sans-serif;
}

button {
    color: var(--textColor);
}

//Temporary Test Classes
.clock {
    font-size: 30px
}

border {
    border: 1px solid var(--violet);
}

.borders {
    border: 1px solid var(--violet);
    margin-top: 5px;
}

.toprow {
    margin-top: 10px;
    padding: 5px;
}

//animations
.invert:hover {
    color: var(--background);
    background-color: var(--textColor);
}

.invert:focus {
    background-color: var(--textColor);
    color: var(--background);
    outline: none;
}

.hov:hover {
    background: var(--tileBackgroundHov);
}