//GRIDS
.one {
    grid-column: span 1;
    grid-row: 1;
}

.two {
    grid-column: span 4;
    grid-row: 1;
}

.three {
    grid-column: span 1;
    grid-row: 1;
}

.four {
    grid-column: span 2;
    grid-row: 1;
}

.five {
    grid-column: span 2;
    grid-row: 1 / 7;
}

.six {
    grid-column: span 4;
    grid-row: span 3;
    margin-left: 10px;
}

.seven {
    grid-column: span 2;
    grid-row: span 3;
}

.eight {
    grid-column: span 1;
    grid-row: span 1;
}

.nine {
    grid-column: span 1;
    grid-row: span 2;
}

.ten {
    grid-column: span 1;
    grid-row: span 1;
}

.eleven {
    grid-column: span 2;
    grid-row: span 1;
}

.twelve {
    grid-column: span 8;
    grid-row: span 2;
    margin-left: 10px;
}