//GRID SETUP
.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-column-gap: 5px;
    grid-template-columns: repeat(8, 200px);
    grid-auto-rows: minmax(134px, auto);
    font-family: "Quantico", sans-serif;
    text-transform: uppercase;
}

//GRIDS
.one {
    grid-column: 1;
    grid-row: 1/4;
}

.two {
    grid-column: span 4;
    grid-row: 1/4;
}

//three contains its own container
.three {
    grid-column: span 2;
    grid-row: 1 / 4;
}

.threeContainer {
    display: grid;
    grid-row-gap: 0px;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, auto);
    // grid-column-gap: 2px
}

.threeOne {
    grid-column: 1;
    grid-row: 1;
}

.threeTwo {
    grid-column: 1;
    grid-row: 2;
}

.threeThree {
    grid-column: 2;
    grid-row: 1/3;
}

.threeFour {
    grid-column: 1/3;
    grid-row: 3;
}

.four {
    grid-column: span 1;
    grid-row: 1/4;
}

.five {
    grid-column: span 1;
    grid-row: 1 / 9;
}

.six {
    grid-column: span 4;
    grid-row: span 3;
}

.seven {
    grid-column: span 2;
    grid-row: span 3;
}

.eight {
    grid-column: span 2;
    grid-row: span 3;
}

.nine {
    grid-column: span 8;
    grid-row: span 2;
}

// .six {
//     grid-column: span 4;
//     grid-row: span 3;
//     margin-left: 10px;
// }
// .seven {
//     grid-column: span 2;
//     grid-row: span 3;
// }
// //need to be moved up to three position
// .eight {
//     grid-column: span 1;
//     grid-row: span 1;
// }
// .nine {
//     grid-column: span 1;
//     grid-row: span 2;
// }
// .ten {
//     grid-column: span 1;
//     grid-row: span 1;
// }
// .eleven {
//     grid-column: span 2;
//     grid-row: span 1;
// }
// .twelve {
//     grid-column: span 8;
//     grid-row: span 2;
//     margin-left: 10px;
// }