      @import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');
       :root {
          --background: rgb(20, 23, 28);
          --textColor: rgb(255, 255, 255);
          --tileBackground: rgba(255, 255, 255, .01);
          --tileBackgroundHov: rgba(255, 255, 255, .03);
      }
      
      .playlist-button {
          color: var(--textColor);
          background: var(--tileBackground);
          font-family: 'Quantico', sans-serif;
          font-size: 15px;
          border: 0;
          padding: 0;
      }
      
      .playlist {
          border: 1px solid var(--textColor);
          padding: 5px;
          margin-top: 10px;
          margin-left: 10px;
          background: var(--tileBackground);
          text-align: right;
          width: 275px;
          height: 400px;
          overflow-y: auto;
      }
      
      .playlist::-webkit-scrollbar {
          width: 7px;
      }
      
      .playlist::-webkit-scrollbar-thumb {
          background-color: var(--textColor);
          width: 7px;
      }
      
      //animations
      .playlist-button:hover {
          color: var(--background);
          background-color: var(--textColor);
      }
      
      .playlist:hover {
          background: var(--tileBackgroundHov)
      }
      
      .playlist-button:focus {
          background-color: var(--textColor);
          color: var(--background);
          outline: none;
      }