.playlist-button {
    color: var(--textColor);
    background: var(--tileBackground);
    font-family: 'Quantico', sans-serif;
    font-size: 12px;
    border: 0;
    padding: 0;
}

.playlist {
    margin-left: 10px;
    text-align: right;
    max-width: 275px;
    max-height: 400px;
    overflow-y: auto;
    // overflow-x: visible;
    text-overflow: "dasidjfaosiemnfienf";
    overflow-x: hidden;
    white-space: nowrap;
}

//scrollbar styling
.playlist::-webkit-scrollbar {
    width: 7px;
}

.playlist::-webkit-scrollbar-thumb {
    background-color: var(--textColor);
    width: 7px;
}