.playlist-button {
    color: var(--textColor);
    background: var(--tileBackground);
    font-family: 'Quantico', sans-serif;
    font-size: 15px;
    border: 0;
    padding: 0;
}

.playlist {
    margin-left: 10px;
    text-align: right;
    // width: 275px;
    max-height: 400px;
    overflow-y: auto;
}

//scrollbar styling
.playlist::-webkit-scrollbar {
    width: 7px;
}

.playlist::-webkit-scrollbar-thumb {
    background-color: var(--textColor);
    width: 7px;
}