:root {
    --colorShadeA: rgb(92, 85, 85);
    --colorShadeB: rgb(133, 123, 123);
    --colorShadeC: rgb(171, 161, 161);
    --colorShadeD: rgb(201, 193, 193);
    --colorShadeE: rgb(227, 218, 218);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
    box-sizing: border-box;
}

html {
    background-color: var(--colorShadeB);
}

.woo {
    color: white;
    font-family: 'Monofett', cursive;
    font-size: 96px;
}

.video {
    border-radius: 10px;
    border: 5px solid var(--colorShadeA);
    margin-left: 10px;
    background-color: var(--colorShadeA);
}

.add {
    margin-left: 50px;
}

.list {
    overflow-y: auto;
    // margin-top: -215px;
    max-height: 935px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.scroller::-webkit-scrollbar {
    width: 7px;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: var(--colorShadeA);
    border-radius: 10px;
    width: 7px;
}