        .tasks {
            font-family: 'Quantico', sans-serif;
            max-height: 400px;
            margin-top: 10px;
            padding: 5px;
            text-transform: uppercase;
            overflow-y: auto;
        }
        
        .task {
            padding: 5px;
        }
        
        .bordersNMF {
            border: 5px solid;
        }
        
        .taskButton {
            background: var(--tileBackground);
            font-family: 'Quantico', sans-serif;
            font-size: 8px;
            border: 0;
            text-transform: uppercase;
        }
        
        .form {
            background-color: var(--tileBackground);
            font-family: 'Quantico', sans-serif;
            text-transform: uppercase;
            width: 200px;
        }
        
        .form:focus {
            outline: none;
        }
        
        .alignRight {
            align-self: right;
            text-align: center;
            max-width: 100px;
        }
        
        .formBox {
            // position: absolute;
            // margin-bottom: 
        }
        
        .taskbox {
            max-height: 270px;
            overflow-y: auto;
        }