        .tasks {
            font-family: 'Quantico', sans-serif;
            max-height: 400px;
            margin-top: 10px;
            padding: 5px;
            text-transform: uppercase;
            overflow-y: auto;
        }
        
        .task {
            padding: 5px;
        }
        
        .bordersNMF {
            border: 5px solid;
        }
        
        .taskButton {
            background: var(--tileBackground);
            font-family: 'Quantico', sans-serif;
            font-size: 8px;
            border: 0;
            text-transform: uppercase;
        }
        
        .form {
            background-color: var(--tileBackground);
            font-family: 'Quantico', sans-serif;
            text-transform: uppercase;
        }
        
        .form:focus {
            outline: none;
        }