@mixin themable($theme-name, $swapper) {
    .#{$theme-name} {
        button {
            color: $swapper;
            animation: fadeIn ease 1s
        }
        hr {
            background-color: $swapper;
            height: 1px;
            border: none;
            margin-bottom: 0px
        }
        .borders {
            border: 1px solid $swapper;
            color: $swapper;
            margin-top: 5px;
            animation: fadeIn ease-in 1s
        }
        .borders3 {
            border: 1px solid $swapper;
            color: $swapper;
            animation: fadeIn ease-in 1s
        }
        //scrollbar styling
        .playlist::-webkit-scrollbar {
            width: 7px;
        }
        .playlist::-webkit-scrollbar-thumb {
            background-color: $swapper;
            width: 7px;
        }
        .taskbox::-webkit-scrollbar {
            width: 7px;
        }
        .taskbox::-webkit-scrollbar-thumb {
            background-color: $swapper;
            width: 7px;
        }
        .schedulerTaskBox::-webkit-scrollbar {
            width: 7px;
        }
        .schedulerTaskBox::-webkit-scrollbar-thumb {
            background-color: $swapper;
            width: 7px;
        }
        //button animations
        .invert:hover {
            color: var(--background);
            background-color: $swapper;
        }
        .invert:focus {
            background-color: $swapper;
            color: var(--background);
            outline: none;
        }
        .invertConst {
            background-color: $swapper;
            color: var(--background);
        }
    }
}

@include themable(theme-white, var(--textColor));
@include themable(theme-turquine, var(--turquine));
@include themable(theme-pink, var(--pink));
@include themable(theme-green, var(--green));
@include themable(theme-orange, var(--orange));
@include themable(theme-red, var(--red));
@include themable(theme-purple, var(--purple));
@include themable(theme-blue, var(--blue));
@include themable(theme-yellow, var(--yellow));
@include themable(theme-rainbow, var(--textColor));
//animations
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// p {
//     animation: color-change 1s infinite;
// }
@keyframes color-change {
    0% {
        color: var(--textColor);
    }
    10% {
        color: var(--yellow);
    }
    20% {
        color: var(--orange);
    }
    30% {
        color: var(--red);
    }
    40% {
        color: var(--pink);
    }
    50% {
        color: var(--purple);
    }
    60% {
        color: var(--blue);
    }
    70% {
        color: var(--turquine);
    }
    80% {
        color: var(--green);
    }
    100% {
        color: var(--textColor);
    }
}