@mixin themable($theme-name, $swapper) {
    .#{$theme-name} {
        button {
            color: $swapper;
        }
        .borders {
            border: 1px solid $swapper;
            color: $swapper;
            margin-top: 5px;
        }
        //scrollbar styling
        .playlist::-webkit-scrollbar {
            width: 7px;
        }
        .playlist::-webkit-scrollbar-thumb {
            background-color: $swapper;
            width: 7px;
        }
    }
}

// }
@include themable(theme-white, var(--textColor));
@include themable(theme-turquine, var(--turquine));
@include themable(theme-pink, var(--pink));
@include themable(theme-green, var(--green));
@include themable(theme-orange, var(--orange));
@include themable(theme-red, var(--red));
@include themable(theme-purple, var(--purple));
@include themable(theme-blue, var(--blue));
@include themable(theme-yellow, var(--yellow));