@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');
.timer {
    width: 250px;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    height: 400px
}

.clock {
    font-size: 60px;
}

.timer-button {
    color: var(--textColor);
    background-color: var(--tileBackground);
    font-family: 'Quantico', sans-serif;
    font-size: 30px;
    border: 0;
    padding: 0;
}