@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');
.timer {
    font-family: 'Quantico', sans-serif;
    text-align: center;
    height: 400px
}

.timerDisplay {
    font-size: 60px;
}

.timer-button {
    background-color: var(--tileBackground);
    font-family: 'Quantico', sans-serif;
    font-size: 25px;
    border: 0;
    padding: 0;
}