.viewscreenContainer {
    // width: auto;
    // height: auto;
    margin-top: 10px;
    border: 1px solid var(--textColor);
    background-color: var(--tileBackgroundHov);
    animation: fadeIn ease 2s;
    text-align: center;
}

.viewscreen {
    width: 800px;
    height: 380px;
    border: 0;
    // margin-left: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}